/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/luna-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

html,
body,
div,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  table-layout: fixed;
  border-spacing: inherit;
  vertical-align: baseline;
  font-family: "Roboto", "Arial", sans-serif;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
}

img {
  max-width: 100%;
}

td {
  overflow: hidden;
}

.container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  &__header {
    display: flex;
    align-items: center;

    h1 {
      color: darken(#fff, 40);
    }
  }

  button {
    min-width: 100px;
    margin-left: 20px;
  }
}

.p-datatable-responsive {
  box-shadow: 0px 0px 10px 0px black;
}

.pi-check-circle {
  color: green;
  font-size: 20px;
}

.pi-times-circle {
  color: red;
  font-size: 20px;
}

.p-datatable .p-datatable-tbody > tr > td:last-child {
  button {
    margin-left: 0;
    min-width: auto;
    max-width: 50px;
  }
}
