{% extends 'base.html' %}
{% from "macros/render_form.html" import render_checkbox, render_field %}

{% block  title %}Edit{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card mx-xl-5 row " style="width: 40rem">
            <form method="POST">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <a class=" btn btn-success"
                           href="{{ url_for('share.get_playlists') }}">Back</a>
                        <p class="h4 text-center">Edit playlist</p>
                        <button class="btn btn-primary" type="submit">Save<i
                                class="fa fa-paper-plane-o ml-2"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pt-3">
                        {{ form.csrf_token }}
                        {{ render_field(form.playlist_id) }}
                        {{ render_field(form.api, css_class="form-select") }}
                        {{ render_checkbox(form.is_active) }}

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
