@import "../../style/global.scss";

.mr-auto {
  margin-right: auto;
}

.containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  min-height: 50vh;

  &__header {
    font-weight: 300;
    line-height: 1.2;
    font-size: 5rem;
    color: darken(#fff, 40);
  }

  &__image {
    border-radius: 50%;
  }
}

.card {
  &__header {
    text-align: center;
    color: darken(#fff, 40);
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin-top: 10px;
    border-top: 1px solid darken(#fff, 40);
    padding-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  &__list-label {
    padding: 0.5rem;
    color: darken(#fff, 40);
  }
  &__list-txt {
    color: darken(#fff, 20);
  }
}
