<div class="containter" *ngIf="userData && userData.user">
  <img src="{{ userData.user.avatar }}" alt="discord avatar" class="containter__image" />
  <h1 class="containter__header">Welcome {{ userData.user.username }}</h1>
  <div class="card">
    <h2 class="card__header">Your data</h2>
    <ul class="card__list">
      <li class="card__list-item">
        <strong class="card__list-label">discord_id:</strong>
        <span class="card__list-txt">{{ userData.user.discord_id }}</span>
      </li>

      <li class="card__list-item">
        <strong class="card__list-label">username:</strong>
        <span class="card__list-txt">{{ userData.user.username }}</span>
      </li>

      <li class="card__list-item">
        <strong class="card__list-label">permissions:</strong>
        <span class="card__list-txt"> {{ userData.user.permissions_str }} </span>
      </li>

      <li class="card__list-item">
        <strong class="card__list-label">avatar:</strong>
        <span class="card__list-txt">{{ userData.user.avatar }}</span>
      </li>

      <li class="card__list-item">
        <strong class="card__list-label">exp:</strong>
        <span class="card__list-txt">{{ userData.user.exp }}</span>
      </li>
    </ul>
  </div>
</div>
