{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <img src="{{ session['user']['avatar'] }}" class="rounded-circle" alt="...">
        </div>
        <h1 class="display-1 text-center p-5">Welcome {{ session['user']['username'] }}</h1>
        <div class="text-center">
            <h4>Your data</h4>
            <hr>
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <ul class="list-group list-group-flush">
                    {% for key, value in session['user'].items() %}
                        <li class="list-group-item">{{ key }}: {{ value }}</li>
                    {% endfor %}
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.logout') }}" class="btn btn-success">Remove data and logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center p-5">
            <div class="col-6 ">
                <a href="{{ url_for('share.get_playlists') }}" class="btn btn-success btn-lg btn-block">Playlists</a>
            </div>
            <div class="col-6">
                <a href="{{ url_for('share.get_songs') }}" class="btn btn-primary btn-lg btn-block">Songs</a>
            </div>
        </div>
    </div>
{% endblock %}
