

{% macro render_field(field, css_class="form-control") %}
    <div class="mb-3 form-group">
        {{ field.label }}
        {{ field(class=css_class  + (" is-invalid" if field.errors else "")) }}
        {% if field.errors %}
            <ul class="errors alert-danger">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_checkbox(field, css_class="form-check-input") %}
    <div class="mb-3 form-group checkbox">
        <label for="{{ field.name }}">
            {{ field(class=css_class  + (" is-invalid" if field.errors else "") + " ml-1") }}
            {{ field.label }}
        </label>
        {% if field.errors %}
            <ul class="errors alert-danger">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
