:host {
  ::ng-deep {
    .p-datatable .p-datatable-tbody > tr > td:not(:first-child) {
      text-align: center;
      transform: translateY(-30%);
    }

    .p-datatable .p-datatable-tbody > tr > td:first-child {
      padding: 0;

      img {
        width: 100%;
        padding-top: 35px;
      }
    }
  }
}
