<div class="container">
  <div class="container__header">
    <h1>Songs</h1>
  </div>
  <p-table [value]="songstData.songs" [lazy]="true" (onPage)="onPage($event)" class="p-datatable-responsive" [paginator]="true" [rows]="10" [totalRecords]="songstData.results">
    <ng-template pTemplate="header">
      <tr>
        <th>Cover</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Album</th>
        <th>Rank</th>
        <th>Added to playlist</th>
        <th>Api</th>
        <th>Added by</th>
        <th>Created at</th>
        <th>Is shared</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-songs let-columns="columns">
      <tr>
        <td><img src="{{ songs.cover }}" alt="cover" /></td>
        <td>{{ songs.artist }}</td>
        <td>{{ songs.title }}</td>
        <td>{{ songs.album }}</td>

        <td>{{ songs.rank }}</td>
        <td>{{ songs.added_to_playlist }}</td>
        <td>{{ songs.api }}</td>
        <td>{{ songs.added_by }}</td>
        <td *ngIf="isNumber(songs.created_at.$date)">{{ songs.created_at.$date | date: "dd/MM/yyyy" }}</td>
        <td *ngIf="!isNumber(songs.created_at.$date)">{{ songs.created_at.$date }}</td>
        <td *ngIf="songs.is_shared"><i class="pi pi-check-circle"></i></td>
        <td *ngIf="!songs.is_shared"><i class="pi pi-times-circle"></i></td>
        <td>
          <button pButton (click)="deleteItem(songs.record_id.$uuid)" icon="pi pi-trash"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
